$base-dark-purple: #0A2A0D;
$base-purple: #143B1B;
$base-purple-200: #3E7741;
$base-pink: #6A9677;
$base-light-purple: #E7EFE0;

$base-dark-purple-2: #072109;
$base-purple-2: #0E3E11;
$base-purple-200-2: #2B662D;
$base-pink-2: #4F825C;
$base-light-purple-2: #D8F4D4;          // Tetap putih

// Mixins
@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
